option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "dimension.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "dimension/wsgi.py"
    StaticFiles: "/static/=www/static/"

packages:
  yum:
     git: []
     mysql-server: []
     mysql: []